
@import "scss/colors.scss";


* {
  all: unset; // Unsets everything so you can style everything from scratch
  /* font-family: "Zed Mono Nerd Font"; */
}

.window {
  color: #ffffff;
  border-radius: 5px;
  background: rgba(#161616, 0.5);
  padding: 2px;
}


@import "scss/tray.scss";
@import "scss/bar.scss";
@import "scss/updates.scss";
@import "scss/player.scss";
