
@import "scss/variables.scss";


* {
  all: unset; // Unsets everything so you can style everything from scratch
  /* font-family: "no Nerd Font"; */
}

.window {
  color: #ffffff;
  border-radius: $outer-radius;
  background: $color-17;
  padding: $padding-sm;
}


@import "scss/tray.scss";
@import "scss/bar.scss";
@import "scss/updates.scss";
@import "scss/player.scss";
@import "scss/power-menu.scss";
