// Global Styles
.bar {
  color: $color-6;
  border-radius: 10px;
  background: rgba($color-1, 0.3);
  padding: 2px;
  padding-right: 7px;
}

// Styles on classes (see eww.yuck for more information)

.workspace {
  padding: 0 5px;
  border-radius: 8px;

  &.current {
    background-color: rgba($color: $color-11, $alpha: 1.0);
    color: rgba($color: $color-1, $alpha: 1.0);
  }

}

.workspaces button:hover {
  color: $color-14;

  &.current {
    background-color: rgba($color: $color-14, $alpha: 1.0);
    color: rgba($color: $color-1, $alpha: 1.0);
  }

}


.sidestuff slider {
  all: unset;
}

.metric scale trough highlight {
  all: unset;
  background-color: $color-14;
  color: $color-11;
  border-radius: 10px;
}

.label{
  color: $color-6;
}

.metric scale trough {
  background-color: $color-2;
  border-radius: 50px;
  min-height: 10px;
  min-width: 75px;
  margin: 0px 5px;
}
