// Global Styles
.bar {
  color: #ffffff;
  border-radius: 10px;
  background: rgba(#161616, 0.3);
  padding: 2px;
  padding-right: 7px;
}

// Styles on classes (see eww.yuck for more information)

.workspace {
  padding: 0 5px;
  border-radius: 8px;

  &.current {
    background-color: rgba($color: #ee5396, $alpha: 1.0);
    color: rgba($color: #161616, $alpha: 1.0);
  }

}

.workspaces button:hover {
  color: #42be65;

  &.current {
    background-color: rgba($color: #42be65, $alpha: 1.0);
    color: rgba($color: #161616, $alpha: 1.0);
  }

}


.sidestuff slider {
  all: unset;
}

.metric scale trough highlight {
  all: unset;
  background-color: #ee5396;
  color: #42be65;
  border-radius: 10px;
}

.metric scale trough {
  background-color: #161616;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin: 0px 5px;
}
