// Global Styles
.bar {
  color: $color-6;
  border-radius: $outer-radius;
  background: rgba($color-17, 1.0);
  padding: $padding-sm;
}

.workspace {
  padding: $padding-none $padding-md;
  border-radius: $inner-radius;

  &.current {
    background-color: rgba($color: $color-11, $alpha: 1.0);
    color: rgba($color: $color-1, $alpha: 1.0);
  }
}

.pill {

  > *{
    color: rgba($color: $color-5, $alpha: 1.0);
    padding: $padding-none $padding-md;
  }

  > :first-child {
    /* top-left | top-right | bottom-right | bottom-left */
    border-radius: $outer-radius $inner-radius $inner-radius $outer-radius;
  }

  > :last-child {
    /* top-left | top-right | bottom-right | bottom-left */
    border-radius: $inner-radius $outer-radius  $outer-radius $inner-radius;
  }

  > :only-child {
    border-radius: $outer-radius;
  }
}

.workspaces button:hover {
  color: $color-14;
  border-radius :$hover-radius;

  &.current {
    background-color: rgba($color: $color-14, $alpha: 1.0);
    color: rgba($color: $color-1, $alpha: 1.0);
  }
}

.label{
  color: $color-6;
}

.sidestuff slider {
  all: unset;
}
.hmetric image {
  min-height:16px;
  min-width:16px;
}
.vmetric image {
  min-height:16px;
  min-width:16px;
}

.hmetric scale trough highlight {
  all: unset;
  background-color: $color-14;
  color: $color-11;
  border-radius: $outer-radius;
}


.hmetric scale trough {
  background-color: $color-2;
  border-radius: $outer-radius;
  min-height: 10px;
  min-width: 100px;
  margin: 0px $padding-md;
}

.vmetric scale trough highlight {
  all: unset;
  background-color: $color-14;
  color: $color-11;
  border-radius: $outer-radius;
}


.vmetric scale trough {
  background-color: $color-2;
  border-radius: $outer-radius;
  min-width: 10px;
  min-height: 100px;
  margin: 0px $padding-md;
}




.active {
    color: rgba($color: $color-14, $alpha: 1.0);
}
