.audio_controls button {
  padding: $padding-md;
  border-radius: $outer-radius;
  background: none;
  border: none;
}

.audio_controls button:hover {
  background-color: $color-14;
  color: black;
}

.player_time {
  background-color: white;
  opacity: 0.3;
}

.player_background {
  animation: load 3s linear infinite;
}


@keyframes load {
  0% {
    opacity: 0.1;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 0.1;
  }
}
