.power-menu {
  padding: $padding-none $padding-md;

  button {
    padding: $padding-md;
    border-radius: $outer-radius;
    background: none;
    border: none;
    &:hover {
      transition: 200ms linear background-color, border-radius;
      background-color: $color-14;
      box {
        padding: $padding-md $padding-none;
      }
    }
  }
}
