.tray_box {
  border-radius: $outer-radius;
  background-color: transparent;
}

.tray_button {
}

menu {
  border-radius: $outer-radius;
  padding: $padding-md $padding-l;
  background-color: $color-17;
  transition: all .2s ease;
}

menuitem {
  border-radius: $inner-radius;
  padding: $padding-md;
  background-color: $color-17;
}


menuitem:hover {
  background-color: $color-14;
}

tooltip {
  border-radius: $outer-radius;
  background-color: $color-2;
  color: $color-14;
}
