.tray_box {
  border-radius: $outer-radius;
  background-color: transparent;
}

menu {
  border-radius: $outer-radius;
  padding: $padding-md $padding-l;
  background-color: $color-17;
  transition: all .2s ease;
}

menutitle {
  border-radius: $inner-radius;
  padding: $padding-md;
  background-color: $color-7;
}

menuitem {
  border-radius: $inner-radius;
  padding: $padding-md;
  background-color: $color-17;
}


menuitem:hover {
  background-color: $color-14;
}

tooltip {
  border-radius: $outer-radius;
  background-color: $color-2;
  color: $color-14;
}

separator { /* works */
    margin: $padding-sm $padding-md;
    border-bottom: 1px solid $color-7;
}
