$color-1        :#161616    ;
$color-2        :#262626    ;
$color-3        :#393939    ;
$color-4        :#525252    ;
$color-5        :#dde1e6    ;
$color-6        :#f2f4f8    ;
$color-7        :#ffffff    ;
$color-8        :#08bdba    ;
$color-9        :#3ddbd9    ;
$color-10       :#78a9ff    ;
$color-11       :#ee5396    ;
$color-12       :#33b1ff    ;
$color-13       :#ff7eb6    ;
$color-14       :#42be65    ;
$color-15       :#be95ff    ;
$color-16       :#82cfff    ;
$color-17       :#131313    ;
$color-19       :#a2a9b0    ;
$color-20       :#adadad    ;
$hover-radius   :5px        ; 
$outer-radius   :0px        ;
$inner-radius   :0px        ;
$padding-none   :0px        ;
$padding-sm     :2px        ;
$padding-md     :4px        ;
$padding-l      :6px        ;
$padding-xl     :8px        ;
$padding-2xl    :10px       ;
$padding-3xl    :12px       ;
