* {
    main-bg:            #101010;
    main-fg:            #65f47d;
    main-br:            #ffffff;
    main-ex:            #f762a6;
    select-bg:          #202020;
    select-fg:          #426bff;
    separatorcolor:     transparent;
    border-color:       transparent;
}

