* {
    main-bg:            #131313;
    main-fg:            #42be65;
    main-br:            #f2f4f8;
    main-ex:            #ee5396;
    select-bg:          #393939;
    select-fg:          #be95ff;
    separatorcolor:     transparent;
    border-color:       transparent;
}
